.confnavbar .navbar {
  width: 100%;
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar .navbar-default {
  border-bottom: 20px;
  border-color: #fbb031;
}

#detailsnav, #detailsnav2, #detailsnav3, #detailsnav4, #detailsnav5 {
  text-align: center;
  width: 125px;
  letter-spacing: 0.5px;
  box-shadow: 1px 1px 0 0 #999;
  display: inline-block !important;
  margin: 8px 10px 0 0;
  padding: 2px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
  background-color: #fff;
  border-color: #fbb031;
  vertical-align: middle;
  border-width: thin;
  border-style: solid;
}

#detailsnav:hover, #detailsnav2:hover, #detailsnav3:hover, #detailsnav4:hover, #detailsnav5:hover {
  text-decoration: none;
  background-color: #fbb031;
}
