#regCatHeader {
  margin: 0 150px 0 100px;
  padding: 0 0 0 0;
}

.regcategories {
  margin: 0 150px 0 100px;
  padding: 0 0 0 0;
}

.regcategories #regFullName, #regAbbrName, #regCurrency, #regLanguage, #regIncludes, #regFee, #regPayment, #regNotes {
  display: block;
  margin-top: 0;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  box-shadow: 0.5px 0.5px 0 0 #3f99a1;
  background-color: #fff;
  border-color: #3f99a1;
  border-width: thin;
}

.regcategories .reg-create-button {
  margin-left: 10px;
}

.regcategoriesview {
  margin: 0 150px 0 100px;
  padding: 0 0 0 0;
}
