.App-container {
  padding: 0;
  border: 0;
  margin: 0;
  font-weight: 400;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  /* background-image: url("../images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

@media all and (max-width: 800px) {
  .App-container {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .App-container {
    justify-content: column;
  }
}

.App-container .navbar {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: flex-start; */
  padding: 0;
  border: 0;
  margin: 0;
  top: 0;
  background: none;
  width: 100%;
}

.App-container .container-fluid {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  /* box-shadow: 0 0 8px 0 #fff; */
}

.App-container .navbar-brand {
  padding: 0;
  border: 0;
  margin: 0 auto;
  height: 50px;
  left: 42%;
  display: block;
  text-align: center;
  position: absolute;
}

.App-container #conflistlink, .App-container #logoutlink, .App-container #newconfplusmain {
  background: none;
  margin: 5px 10px;
  padding: 10px;
  letter-spacing: 0.5px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}


.App-container #conflistlink:hover, .App-container #logoutlink:hover, .App-container #newconfplusmain:hover {
  background: none;
  /* outline: #fff; */
  text-shadow: 1px 1px #999;
  color: #fbb031;
}
