.App-container {
  padding: 0;
  border: 0;
  margin: 0;
  font-weight: 400;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  /* background-image: url("../images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

@media all and (max-width: 800px) {
  .App-container {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .App-container {
    justify-content: column;
  }
}

.App-container .navbar {
  padding: 0;
  border: 0;
  margin: 0 auto;
  order: 0;
  flex-grow: 100;
  justify-content: flex-start;
  top: 0;
  background: none;
  /* background-image: url("../images/background.jpeg"); */
  /* background-color: #d3d3d3; */
  width: 100%;
}

.App-container .navbar-collapse {
  margin: 0;
  padding: 0;
  border: 0;
  order: 0;
  flex-grow: 100;
  align-self: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  /* height: 80px; */
}

.App-container .navbar-brand {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0 0 550px;
  border: 0;
  margin: 0;
  height: 50px;
}

.App-container #loginlink {
  order: 0;
  margin: 5px 0 2px 0;
  min-width: 50px;
  padding: 2px 8px;
  box-shadow: 1.5px 1.5px 0 0 #fbb031;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 16px;
  background-color: #3f99a1;
  border-color: #999;
  border-radius: 4px;
}

.App-container #logoutlink {
  letter-spacing: 0.5px;
  margin: 5px 40px 0 0;
  padding: 0;
  color: #000;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  /* text-shadow: 1px 1px #999; */
}

.App-container #logoutlink:hover, .App-container #conflistlink:hover {
  text-decoration: none;
  color: #3f99a1;
}

.App-container #conflistlink {
  letter-spacing: 0.5px;
  margin: 5px 0 0 20px;
  padding: 0;
  font-size: 24px;
  line-height: 1.5;
  color: #000;
  font-weight: 600;
  /* text-shadow: 1px 1px #999; */
}
