.conferencedetailsall {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.DetailsTitle {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.conferenceDetails {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 85%;
  background-color: #f2f2f2;
  border-radius: 5px;
  height: fit-content;
  padding: 20px;
  margin: 20px 40px;
}

.conferenceDetails h1 {
  margin: 0 0 30px 0;
  font-size: 50px;
}

.conferenceDetails h2 {
  /* font-size: 50px; */
  margin: 0 0 30px 0;
  color: #3f99a1;
  font-size: 30px;
}

.DetailsTitle .buttonsformore {
  display: flex;
  flex-flow: column nowrap;
  width: 15%;
  margin: 20px 5px 20px 0;
}

.buttonsformore #confsettings, .buttonsformore #update {
  text-align: left;
  width: 155px;
  padding: 5px 10px;
  margin: 0 0 15px 0;
  border: 0;
  letter-spacing: 0.5px;
  color: #000;
  height: 30px;
  font-size: 14px;
  background-color: #f2f2f2;
}

.buttonsformore #newconf:hover, .buttonsformore #confsettings:hover, .buttonsformore #update:hover, .buttonsformore #newcontext:hover {
  outline: none;
  color: #3f99a1;
}

.conferencedetailsall .registration-modal__container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0,0.7);
}

.conferencedetailsall .registration-modal {
  position: absolute;
  height: 80%;
  width: 60%;
  overflow-y: scroll;
  background-color: white;
  padding: 4px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.conferencedetailsall .inner-registration-modal {
  padding: 20px;
}

.inner-registration-modal h2 {
  padding: 5px 0 20px 0;
  font-size: 30px;
  color: #3f99a1;
}

.modal_exitButton {
  float: right;
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.modal_exitButton:hover {
  background-color: white;
  color: #fbb031;
}
