.conferencedetailsall {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.Details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 135px 30px 10px 30px;
}

.Details .conferenceDetails {
  padding: 20px;
  width: 88%;
  background-color: #f2f2f2;
}

.Details .conferenceDetails h2 {
  order: 1;
  font-size: 50px;
  margin: 0 0 30px 0;
}

.Details .conferenceDetails h3 {
  order: 3;
  color: #3f99a1;
  font-size: 30px;
}

.Details .buttonsformore {
  display: flex;
  flex-flow: column nowrap;
  width: 12%;
  margin-left: 25px;
  /* border-left-style: solid;
  border-width: thin;
  border-color: #999; */
}

.Details .buttonsformore #newconf {
  order: 0;
  width: 155px;
  text-align: left;
  padding: 5px 10px;
  border: 0;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  position: fixed;
  color: #000;
  height: 30px;
  font-size: 14px;
  background-color: #f2f2f2;
}

.Details .buttonsformore #settings {
  order: 1;
  text-align: left;
  width: 155px;
  padding: 5px 10px;
  border: 0;
  margin-top: 40px;
  letter-spacing: 0.5px;
  color: #000;
  height: 30px;
  font-size: 14px;
  position: fixed;
  background-color: #f2f2f2;
}

.Details .buttonsformore #update {
  order: 3;
  text-align: left;
  width: 155px;
  padding: 5px 10px;
  border: 0;
  margin-top: 80px;
  letter-spacing: 0.5px;
  position: fixed;
  color: #000;
  height: 30px;
  font-size: 14px;
  background-color: #f2f2f2;
}

.Details .buttonsformore #newcontext {
  order: 4;
  text-align: left;
  width: 155px;
  padding: 5px 10px;
  border: 0;
  margin-top: 120px;
  letter-spacing: 0.5px;
  position: fixed;
  color: #000;
  height: 30px;
  font-size: 14px;
  background-color: #f2f2f2;
}

.Details .buttonsformore #newconf:hover, .Details .buttonsformore #settings:hover, .Details .buttonsformore #update:hover, .Details .buttonsformore #newcontext:hover {
  outline: none;
  color: #3f99a1;
}
