.conferencedetailsall {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.Details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 140px 50px 10px 180px;
}

.Details .conferenceDetails {
  /* margin: 140px 150px 20px 190px; */
  padding: 0;
  width: 75%;
}

.Details .conferenceDetails h2 {
  order: 1;
  font-size: 50px;
  margin: 0 0 30px 0;
}

.Details .conferenceDetails h3 {
  order: 3;
  color: #3f99a1;
  font-size: 30px;
}

.Details .buttonsformore {
  display: flex;
  flex-flow: column nowrap;
  width: 25%;
}

.Details .buttonsformore #update {
  margin: 20px 0 2px 0;
  align-self: center;
  width: 75px;
  padding: 4px 10px 6px 10px;
  box-shadow: 1px 1px 0 0 #999;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
  height: 30px;
  font-size: 14px;
  background-color: #fff;
  border-color: #3f99a1;
  border-radius: 4px;
}

.Details .buttonsformore #update:hover {
  outline: none;
  background-color: #3f99a1;
  color: #fff;
}

.Details .buttonsformore #settings {
  margin: 20px 0 2px 0;
  align-self: center;
  width: 75px;
  padding: 4px 10px 6px 10px;
  box-shadow: 1px 1px 0 0 #999;
  letter-spacing: 0.5px;
  color: #000;
  text-align: center;
  height: 30px;
  font-size: 14px;
  background-color: #fff;
  border-color: #999;
  border-radius: 4px 4px 4px 4px;
}

.Details .buttonsformore #settings:hover {
  outline: none;
  background-color: #a6a6a6;
  color: #fff;
}

.Details .buttonsformore #newconf {
  margin: 20px 0 2px 0;
  align-self: center;
  width: 75px;
  padding: 4px 10px 6px 10px;
  box-shadow: 1px 1px 0 0 #999;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
  height: 30px;
  font-size: 14px;
  background-color: #fff;
  border-color: #3f99a1;
  border-radius: 4px;
}

.Details .buttonsformore #newconf:hover {
  outline: none;
  background-color: #3f99a1;
  color: #fff;
}
