.LogIn {
  display: flex;
  margin: 100px 0 0 500px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 70px;
  border-color: #fbb031;
  border-style: double;
}

.LogIn form {
  order: 2;
  margin: 0;
  width: 300px;
}

/* .LogIn form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
} */

.LogIn h1 {
  order: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.LogIn p {
  order: 0;
  color: #999;
  font-size: 20px;
  font-weight: 250;
  margin-bottom: 50px;
}

.form-group #email, #password {
  order: 3;
  align-self: stretch;
  margin: 0;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  font-weight: 400;
  background-color: #fff;
  border-color: #3f99a1;
  border-width: thin;
}
