.LogIn {
  padding: 70px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.LogInInner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.LogInInner form {
  margin: 0;
  width: 300px;
}

.LogInInner h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.LogInInner p {
  color: #999;
  font-size: 20px;
  font-weight: 250;
  margin-bottom: 50px;
}

.form-group #email, #password {
  margin: 0;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  color: #000000;
  font-weight: 400;
  background-color: #fff;
  border-color: #3f99a1;
  border-width: thin;
}
