.NewConferenceDetails {
  display: flex;
  margin: 0 0 50px 400px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  width: 750px;
}

.NewConferenceDetails form{
  margin: 0;
  text-align: left;
  width: 600px;
}

.NewConferenceDetails .form-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: flex-start;
  margin: 0 0 15px 0;
}

.NewConferenceDetails .form-group .control-label {
  order: 0;
  padding-right: 10px;
  width: 300px;
}

.NewConferenceDetails #confTitle, #confAbbr {
  border-color: #CCCCCC;
}

.create-button:hover {
  background-color: #3f99a1;
  border-color: #3f99a1;
}
