.participantsdetails {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.ParticipantsDetails {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 140px 50px 10px 50px;
}

.ParticipantsDetails .participants {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  width: 88%;
}

.ParticipantsDetails .participants h2 {
  order: 0;
  font-size: 50px;
  margin: 0 0 30px 0;
}

.ParticipantsDetails .participants .parsearching {
  display: flex;
  flex-flow: row nowrap;
}

.participants .parsearching h3 {
  order: 1;
  align-self: flex-start;
  flex-grow: 15;
  margin: 5px 2px 0 0;
  color: #3f99a1;
  font-size: 30px;
}

.participants .parsearching #parsearch {
  order: 1;
  align-self: flex-end;
  flex-grow: 1;
  margin-top: 5px;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.5;
  width: 250px;
  border-radius: 4px;
  color: #000000;
  box-shadow: 0.5px 0.5px 0 0 #999;
  background-color: #fff;
  border-color: #3f99a1;
  border-width: thin;
}

.ParticipantsDetails .participants #parsearch:focus {
  outline: none;
}

.ParticipantsDetails .buttonsformore {
  display: flex;
  flex-flow: column nowrap;
  width: 12%;
  margin-left: 50px;
  border-left: 5px;
  padding-left: 25px;
  border-left-style: ridge;
}

.ParticipantsDetails .buttonsformore #settings {
  margin: 60px 0 2px 0;
  align-self: left;
  width: 125px;
  padding: 4px 10px 6px 1px0;
  /* box-shadow: 1px 1px 0 0 #999; */
  letter-spacing: 0.5px;
  color: #000;
  text-align: left;
  height: 30px;
  font-size: 14px;
  border: 0;
  position: fixed;
  font-weight: 600;
  /* background-color: #fff;
  border-color: #999;
  border-radius: 4px 4px 4px 4px; */
}

.ParticipantsDetails .buttonsformore #settings:hover {
  outline: none;
  background: none;
  color: #fbb031;
}

.ParticipantsDetails .buttonsformore #newpar {
  margin: 20px 0 2px 0;
  align-self: left;
  width: 125px;
  padding: 4px 10px 6px 10px;
  /* box-shadow: 1px 1px 0 0 #999; */
  letter-spacing: 0.5px;
  text-align: center;
  position: fixed;
  color: #000;
  height: 30px;
  font-size: 14px;
  border: 0;
  font-weight: 600;
  /* background-color: #fff;
  border-color: #3f99a1;
  border-radius: 4px; */
}

.ParticipantsDetails .buttonsformore #newpar:hover {
  outline: none;
  background: none;
  color: #3f99a1;
}
