.registrationdetailsall {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.RegistrationDetails {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 140px 50px 10px 180px;
}

.RegistrationDetails .regcategoriesview {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  width: 75%;
}

.RegistrationDetails .regcategoriesview h2 {
  order: 0;
  font-size: 50px;
  margin: 0 0 30px 0;
}

.RegistrationDetails .regcategoriesview h3 {
  order: 1;
  margin: 5px 0 10px 0;
  color: #3f99a1;
  font-size: 30px;
}

.RegistrationDetails .regcategoriesview #regcategory-list {
  order: 5;
  margin: 10px 0;
}

.RegistrationDetails .buttonsformore {
  display: flex;
  flex-flow: column nowrap;
  width: 25%;
}

.RegistrationDetails .buttonsformore #settings {
  margin: 60px 0 2px 0;
  align-self: center;
  width: 125px;
  padding: 4px 10px 6px 10px;
  /* box-shadow: 1px 1px 0 0 #999; */
  letter-spacing: 0.5px;
  color: #000;
  text-align: left;
  height: 30px;
  font-size: 14px;
  border: 0;
  position: fixed;
  font-weight: 600;
  /* background-color: #fff;
  border-color: #999;
  border-radius: 4px 4px 4px 4px; */
}

.RegistrationDetails .buttonsformore #settings:hover {
  outline: none;
  background: none;
  color: #fbb031;
}

.RegistrationDetails .buttonsformore #newregcat {
  margin: 20px 0 2px 0;
  align-self: center;
  width: 125px;
  padding: 4px 10px 6px 10px;
  /* box-shadow: 1px 1px 0 0 #999; */
  letter-spacing: 0.5px;
  text-align: center;
  position: fixed;
  color: #000;
  height: 30px;
  font-size: 14px;
  border: 0;
  font-weight: 600;
  /* background-color: #fff;
  border-color: #3f99a1;
  border-radius: 4px; */
}

.RegistrationDetails .buttonsformore #newregcat:hover {
  outline: none;
  background: none;
  color: #3f99a1;
}
